body{
	text-align: center;
	color: blue;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-color: lightgreen;
      height: 90vh;

}
.main{
      background-color: black;
      width: 500px;
      height: 700px;
}
img{
      margin-top: 50px;
      height: 350px;
      width: 450px;
}
.btns{
      display: flex;
      justify-content: center;
}
h1{
      font-size: 3.5rem;
      margin-top: 40px;
}		
button{
	margin: 30px 10px;
	padding: 10px 20px;
      border-radius: 15px;
      font-size: 3rem;
	border: 2px solid gray;
      display: block;
}

@media screen and (max-width: 480){
      img{
            height: 600px;
            width: 800px;
      }
  }
